* {
    /*Box model:*/
    margin: 0px;
    box-sizing: border-box;
        
    /*Colors:*/
    --white-clr:        #FFFFFF;
    --strong-clr:       #808080;
    --normal-clr:       #adadad;
    --lighter2-clr:     #ececec;
    --lighter-clr:      #ececec20;

    /*Font properties*/
    font-family:        'Ubuntu', sans-serif;
    
    /*Dimensions (Margin, padding and font-size):*/
    --title-sz:         2.20rem;
    --big-sz:           1.50rem;
    --normal2-sz:       1.25rem;
    --normal-sz:        1.00rem;
    --small2-sz:        0.75rem;
    --small-sz:         0.50rem;
    --min-sz:           0.25rem;
    --border-sz:        0.06rem;

    --desktop-width:    64rem;

    /*Courses: Background dimensions:*/
    --width-bkg:        7.5rem;
    --height-bkg:       calc(var(--width-bkg)*(394/360));
}

body {
    /*Display_*/
    display:            flex;
    justify-content:    center;
}

div.frame {
    /*Background:*/
    background-color:   var(--lighter2-clr);

    /*Box model:*/
    border:             solid var(--border-sz) var(--lighter2-clr);
    margin:             var(--big-sz);
    width:              var(--desktop-width);

    /*Display:*/
    display:            flex;
}

div.left {
    /*Box model:*/
    width:              35%;

    /*Display:*/
    display:            flex;
    flex-direction:     column;
    align-items:        center;
}

div.right {
    /*Background:*/
    background-color:   var(--white-clr);

    /*Box model:*/
    width:              65%;


}

section.sec1_cont {
    /*Background:*/
    background-color:   var(--lighter-clr);

    /*Box model:*/
    margin:             var(--big-sz);
}

    #edu {
        /*Background:*/
        background-color:   var(--white-clr);
        box-shadow:         var(--small-sz) var(--small-sz) var(--small-sz) var(--lighter2-clr);

        /*Box model:*/
        margin:             var(--big-sz);
        padding:            var(--small2-sz);

        border:             solid var(--border-sz) var(--lighter2-clr);
    }

    #eduname {
        font-weight: lighter;
    }

    #courses {
        background-color:   var(--white-clr);
        border:             solid var(--border-sz) var(--lighter2-clr);

        /*Box model:*/
        margin:             var(--big-sz);
        padding:            var(--small2-sz);
    }

    #leftname {
        /*Box model:*/
        width: 84%;
    }

div.sec1name_cont {
    /*Box model:*/
    padding:0 0 var(--small2-sz) 0;

    /*Display:*/
    display: flex;
    align-items: center;
}

div.sec1name_cont img {
    /*Box model:*/
    width: var(--big-sz);
}

h2.sec1name {
    /*Box model:*/
    padding-left: var(--small2-sz);

    /*Font:*/
    font-size: var(--normal2-sz);
}

div.sec2-cont {
    /*Box model:*/
    margin: 0 0 var(--small2-sz) var(--small2-sz);
    padding: 0 0 var(--min-sz) 0;
    border-bottom: solid var(--min-sz) var(--lighter2-clr);

    /*Display:*/
    display: flex;
    justify-content: space-between;
}

h3.sec2name {
    /*Font:*/
    font-size: var(--normal2-sz);
}

div.locat-cont {
    /*Display:*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.locat-cont img {
    /*Box model:*/
    width: var(--big-sz);
}

div.sec3-cont {
    /*Box model:*/
    padding: 0 0 var(--small2-sz) var(--small2-sz);
}

div.sec3name-cont {
    /*Box model:*/
    padding: 0 0 var(--small2-sz) 0;

    /*Display:*/
    display: flex;
    justify-content: space-between;
}

    #lang-lev {
        padding: var(--small-sz) var(--big-sz);
    }

h3.sec3name {
    /*Font:*/
    font-size: var(--normal2-sz);
    line-height: var(--normal2-sz);
}

    #lang {
        font-weight: lighter;
    }

p.sec3des {
    /*Box model:*/
    padding: 0 0 var(--small2-sz) var(--normal2-sz);

    /*Font:*/
    font-size: var(--normal-sz);
    font-weight: lighter;
    text-align: justify;
    line-height: var(--normal2-sz);
}

ul.sec3ul {    
    /*Font:*/
    font-size: var(--normal-sz);
    font-weight: lighter;
    text-align: justify;
    line-height: var(--normal2-sz);

    /*List style:*/   
    list-style: none;
}

h2.name {
    /*Font:*/
    font-size: var(--title-sz);
    font-weight: normal;
}

h1.lastname {
    /*Box model:*/
    padding-left: var(--normal-sz);

    /*Font:*/
    font-size: var(--title-sz);
}

img.profileimg {
    /*Box model*/
    margin: var(--min-sz);
    width: 16rem;
    border: solid var(--border-sz) var(--white-clr);
}

section.contact-cont {
    /*Box model:*/
    width: 90%;
    padding-top: var(--normal2-sz);
    border-top: solid var(--border-sz) var(--white-clr);
}

div.contactinf-cont {
    /*Box model:*/
    padding: var(--small-sz);

    /*Display:*/
    display: flex;
    align-items: center;
}

div.contactinf-cont img {
    /*Box model:*/
    width: var(--big-sz);
}

h3.contactinfoname {
    /*Box model:*/
    padding-left: var(--small2-sz);

    /*Font:*/
    font-weight: lighter;
    font-size: var(--normal-sz);
}

div.bimg-cont {
    /*Box model:*/
    padding: 0 0 var(--normal-sz);

    /*Display:*/
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.img-cont {
    /*Display:*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

    #present {    /*Box model:*/
        margin:             var(--small-sz);
        width:              var(--width-bkg);
        height:             var(--height-bkg);
        background:         url("../img/terminal-yellow.png");
        background-repeat:  no-repeat;
        background-size:    var(--width-bkg) var(--height-bkg);
        box-shadow: var(--small-sz) var(--small-sz) var(--small-sz) var(--lighter2-clr);
    }

    #done {
        margin:             var(--small-sz);
        width:              var(--width-bkg);
        height:             var(--height-bkg);
        background:         url("../img/terminal-green.png");
        background-repeat:  no-repeat;
        background-size:    var(--width-bkg) var(--height-bkg);
        box-shadow: var(--small-sz) var(--small-sz) var(--small-sz) var(--lighter2-clr);
    }
    
    #interest {
        margin:             var(--small-sz);
        width:              calc(var(--width-bkg)/3);
    }

div.img-cont div.img2-cont {
    /*Box model:*/
    width:              var(--width-bkg);
    height:             calc((80/360)*var(--width-bkg));
    padding-right:      var(--small-sz);

    /*Display:*/
    display:            flex;
    align-items:        center;
    flex-direction:     row-reverse;
}

div.img-cont div.img3-cont {
    /*Box model:*/
    width:              var(--width-bkg);
    height:             calc((240/360)*var(--width-bkg));

    /*Display:*/
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
}

div.img-cont h3.sec3name {
    /*Font:*/
    font-size:      var(--normal-sz);
    font-weight:    lighter;
    text-align:     center;
}

div.lang-box img {
    /*Box model:*/
    width:  var(--normal-sz);
    margin: var(--border-sz)
}

h3.skillname {
    /*Box model:*/
    padding:        var(--small-sz);
    margin:         var(--small-sz);
    border: solid   var(--border-sz) var(--normal-clr);
    border-radius:  var(--small-sz);

    /*Font:*/
    font-size:      var(--normal-sz);
    font-weight:    lighter;
    text-align:     center;
}

ul.skills-cont {      
    /*Box model:*/
    padding:        var(--small-sz);

    /*Font:*/
    font-size:      var(--normal-sz);
    font-weight:    lighter;
    line-height:    var(--normal-sz);

    /*List style:*/   
    list-style:     none;
}

ul.skills-cont li {
    /*Box model:*/
    padding: var(--small-sz);

    /*Font:*/
    text-align: justify;
}

@media (max-width: 1072px) {
    div.frame {
        /*Box model:*/
        width: fit-content;
        /*Display:*/
        flex-direction: column;
    }

    div.left {
        /*Box model:*/
        width:              100%;
    }
    
    div.right {
        /*Box model:*/
        width:              100%;
    }
    
}