html {
    /*Font Size:*/
    font-size:          10px;
}

* {
    /*Box model:*/
    margin:             0px;
    padding:            0px;
    box-sizing:         border-box;
        
    /*Colors:*/
    --wcl0:             #FFFFFF;
    --gcl0:             #ececec20;
    --gcl1:             #ececec;
    --gcl2:             #adadad;
    --gcl3:             #808080;
    
    /*Font properties and Font sizes*/
    font-family:        'Ubuntu', sans-serif;
    
    --fs0:              1.4rem;
    --fs1:              1.6rem;

    --desktop-width:    820px;
    
}
